@charset "utf-8";
/* common */
:root{
  --color-white: #ffffff;
  --color-white-gray: #f4f4f6;
  --color-light-gray: #d8d8df;
  --color-dark-gray: #373B45;
  --color-black: #141824;
  --font-xl: 22px;
  --font-l: 18px;
  --font-m: 16px;
  --font-s: 15px;
  --font-xs: 12px;
}
.bg-white{
  background-color: var(--color-white);
}
.bg-white-gray{
  background-color: var(--color-white-gray);
}
.bg-black{
  background-color: var(--color-black);
}
.text-white{
  color: var(--color-white);
}
.text-white-gray{
  color: var(--color-white-gray);
}
.text-blank{
  color: var(--color-black);
}
.text-xl{
  font-size: var(--font-xl);
}
.text-l{
  font-size: var(--font-l);
}
.text-m{
  font-size: var(--font-m);
}
.text-s{
  font-size: var(--font-s);
}
.text-xs{
  font-size: var(--font-xs);
}
.container-outer{
  position: relative;
  width: 100%;
  padding: 98px;
}
.container-inner{
  width: 100%;
  max-width: 1318px;
  margin: 0 auto;
}
.h2-title{
  text-align: center;
  font-size: 44px;
  transition: all .3s;
  font-weight: 400;
}
.h3-title{
  text-align: center;
  font-size: 35px;
  transition: all .3s;
  font-weight: 400;
}
.h5-title{
  font-size: var(--font-l);
  font-weight: 500;
}
@media screen and (max-width: 769px) {
  .h2-title{
    font-size: 30px;
  }
  .h3-title{
    font-size: 26px;
  }
}

/* s:header */
.header{
  position: relative;
  width: 100%;
  padding: 32px 24px;
  background-color: var(--color-black);
}
.haeder-nav{
  display: flex;
  justify-content: space-between;
  height: 92px;
}
.header-menu{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}
.header-menu .header-menu-item{
  position: relative;
}
.header-menu .header-menu-item a{
  font-size: 14px;
  color: var(--color-white-gray);
}
.header-dropdown{
  position: absolute;
}
.header-util{
  display: flex;
  justify-content: flex-end;  
}
.header-util a{
  color: var(--color-white-gray);
}
.icon-more svg path{
  fill: var(--color-white-gray);
}
.container-search{

}

@media screen and (min-width: 770px) {
}
@media screen and (max-width: 769px) {
  .header-menu{
    display: none;
  }
}
/* e:header */

/* s:product */
.product .h3-title{
  margin-bottom: 98px;
}
.product-content{
  
}
.product-list{
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
}
.product-item-inner .img-svg{
  filter: invert(190%) sepia(0%) saturate(0%) hue-rotate(0) brightness(90%) contrast(100%);
  transition: all .5s;
}
.product-item-inner:hover .img-svg{
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(100deg) brightness(100%) contrast(100%);
}
.product-item-inner .img-photo{
  transition: all .5s;
}
.product-item-inner:hover .img-photo{
  filter:grayscale();
}
@media screen and (min-width: 770px) {
}
@media screen and (max-width: 769px) {
  .product-list{
    flex-direction: column;
  }
}
/* e:product */

/* s:post */
.post .h3-title{
  margin-bottom: 56px;
}
.post-content{
  
}
.post-list{
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
}

@media screen and (min-width: 770px) {
}
@media screen and (max-width: 769px) {
  .post-list{
    flex-direction: column;
  }
}
/* e:post */

/* s:guide */
.guide-content{
  padding:0 130px;
  box-sizing: border-box;
}
.guide-list{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.guide-list .guide-item{
  width: calc(100% / 3);
  padding: 48px 32px;
  border: 1px solid var(--color-light-gray);
  box-sizing: border-box;
}
/* e:guide */
