@charset "utf-8";
/* common */
:root{
  --color-white: #ffffff;
  --color-white-gray: #f4f4f6;
  --color-light-gray: #dddde3;
  --color-border-gray: #d8d8df;
  --color-dark-gray: #373B45;
  --color-black: #141824;
  --color-blue: #0533b8;
  --font-xl: 22px;
  --font-l: 18px;
  --font-m: 16px;
  --font-s: 15px;
  --font-xs: 12px;
  --trasnsition:.4s ease;
}
@media screen and (max-width: 769px) {
  :root{
    --font-xl: 18px;
    --font-l: 16px;
    --font-m: 14px;
    --font-s: 12px;
    --font-xs: 11px;
  }
}
.bg-white{
  background-color: var(--color-white);
}
.bg-white-gray{
  background-color: var(--color-white-gray);
}
.bg-black{
  background-color: var(--color-black);
}
.text-white{
  color: var(--color-white);
}
.text-white-gray{
  color: var(--color-white-gray);
}
.text-blank{
  color: var(--color-black);
}
.text-xl{
  font-size: var(--font-xl);
}
.text-l{
  font-size: var(--font-l);
}
.text-m{
  font-size: var(--font-m);
}
.text-s{
  font-size: var(--font-s);
}
.text-xs{
  font-size: var(--font-xs);
}
.text-bold{
  font-weight: 500;
}
.container-outer{
  width: 100%;
  padding: 50px 0 60px;
}
.container-inner{
  width: 100%;
  max-width: 1338px;
  padding: 0 20px;
  margin: 0 auto;
}
.h2-title{
  line-height: 125%;
  text-align: center;
  font-size: 2.1rem;
  transition: all var(--trasnsition);
}
.h3-title{
  line-height: 125%;
  text-align: center;
  font-size: 1.7rem;
  transition: all var(--trasnsition);
}
.h4-title{
  line-height: 125%;
  font-size: var(--font-xl);
  transition: all var(--trasnsition);
}
.h5-title{
  font-size: var(--font-l);
  font-weight: 500;
}
.product .h3-title,
.post .h3-title{
  max-width: 910px;
  margin: 0 auto;
}
@media screen and (min-width: 770px) {
  .container-outer{
    padding: 80px 0 100px;
  }
  .h2-title{
    font-size: 3.4rem;
  }
  .h3-title{
    font-size: 2.7rem;;
  }
}


/* s:header */
.header{
  position: relative;
  width: 100%;
  padding: 20px 0;
  background-color: var(--color-black);
  transition: all var(--trasnsition);
}
.header .container-inner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.header-logo svg{
  width: 38px;
}
.header-logo svg path{
  fill: var(--color-white);
  transition: all var(--trasnsition);
}
.header-util{
  display: flex;
  justify-content: flex-end;
  flex-shrink: 0;
  align-items: center;
}
.header-util li + li{
  margin-left: 20px;
}
.header-util a{
  color: var(--color-light-gray);
}
.icon-more svg path{
  fill: var(--color-white-gray);
}
.header.sticky{
  position: fixed;
  top: 0;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-border-gray);
  z-index: 50;
}
.header.sticky .header-logo{
  order: 0;
  margin-top: 0;
  width: auto;
}
.header.sticky .haeder-nav {
  display: none;
}
.header.sticky .header-logo svg path{
  fill: var(--color-black);
}
.header.sticky .header-util a{
  color: var(--color-black);
}
.header.sticky .icon-more svg path{
  fill: var(--color-black);
}
@media screen and (max-width: 769px) {
  .haeder-nav{
    display: none;
  }
}
@media screen and (min-width: 770px) {
  .header{
    padding: 32px 0;
  }
  .header-logo{
    order: 2;
    width: 100%;
    margin-top: 38px;
  }
  .header-logo svg{
    width: 84px;
  }
  .haeder-nav{
    color: var(--color-white);
  }
  .haeder-nav{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
  }
  .haeder-nav .header-menu-item{
    position: relative;
    display: inline-block;
    font-size: 14px;
    color: var(--color-white-gray);
  }
  .haeder-nav .header-menu-item::after{
    position: absolute;
    content: '';
    display: block;
    bottom: -2px;
    height: 1px;
    width: 0;
    background-color: var(--color-white);
    transition: all var(--trasnsition);
  }
  .haeder-nav .header-menu-item:hover::after{
    width: 100%;
  }
}
/* e:header */


/* s:search */
.container-outer.search{
  position: relative;
}
.container-outer.search h2{
  margin-bottom: 30px;
}
.container-outer.search.sticky{
  position: fixed;
  top: 0;
  z-index: 50;
  transition: all var(--trasnsition);
}
.search-form{
  position: relative;
}
.search-box{
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 872px;
  border: 3px solid var(--color-white);
  background-color: var(--color-white);
}
.search-select {
  position: relative;
}
.search-select .selected{
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  width: 70px;
  line-height: 40px;
  font-size: var(--font-m);
  letter-spacing: 0.8px;
  border-right: 1px solid var(--color-border-gray);
  transition: background-color var(--trasnsition);
}
.search-select .selected:focus{
  outline: 3px solid rgb(40, 143, 240);
}
.search-select .selected:hover{
  background-color: var(--color-light-gray);
}
.search-select .selected .arrow svg{
  width: 10px;
  height: 10px;
}
.search-select .select-form{
  position: absolute;
  left: -2px;
  top: 42px;
  width: 70px;
  height: 0;
  background-color: var(--color-white);
  z-index: 5;
  overflow: hidden;
  transition: height var(--trasnsition);
}
.select-form .select-option + .select-option{
  border-top: 1px solid var(--color-border-gray);
}
.select-form .select-option .search-option{
  text-align: left;
  width: 100%;
  line-height: 40px;
  padding: 0 8px;
  letter-spacing: 0.8px;
  font-size: var(--font-m);
}
.search-input{
  flex-grow: 1;
  flex-shrink: 0;
  padding: 0 3px 0 3px;
}
.search-input-txt{
  line-height: 32px;
  width: 100%;
  padding: 4px 6px;
  font-size: var(--font-m);
  letter-spacing: 0.8px;
}
.search-input-txt:focus{
  outline: 3px solid rgb(40, 143, 240);
}
.search-button{
  background-color: var(--color-black);
  transition: var(--trasnsition);
}
.search-button:hover{
  background-color: var(--color-dark-gray);
}
.search-button .button{
  display: block;
  width: 40px;
  height: 40px;
}
.search-button .icon-search{
  width: 20px;
  height: 20px;
}
.search-button .icon-search path{
  fill: var(--color-white)
}
@media screen and (min-width: 770px) {
  .container-outer.main-title{
    padding: 80px 0 0 0;
  }
  .search-select .selected{
    width: 130px;
    padding: 0 20px;
    line-height: 60px;
  }
  .search-select .select-form{
    top: 62px;
    width: 132px;
  }
  .select-form .select-option .search-option{
    line-height: 60px;
    padding: 0 20px;
  }
  .search-input-txt{
    line-height: 50px;
    padding: 5px 10px;
  }
  .search-button .button{
    width: 60px;
    height: 60px;
  }
}
/* e:search */


/* s:visual icon */
.visual-icon{
  overflow: hidden;
  padding-top: 0;
}
.visual-icon-box{
  margin-bottom: 30px;
}
.visual-icon-list{
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  gap: 45px;
}
.visual-icon-list:nth-of-type(2){
  margin-top: 45px;
}
.visual-icon-list .visual-icon-item{
  width: 45px;
  height: 45px;
  flex-grow: 1;
  flex-shrink: 0;
}
.visual-icon-item img{
  width: auto;
  height: 100%;
  filter: invert(1);
}
@media screen and (min-width: 770px) {
  .visual-icon-list{
    gap: 125px;
  }
  .visual-icon-list:nth-of-type(2){
    margin-top: 75px;
  }
  .visual-icon-list .visual-icon-item{
    width: 75px;
    height: 75px;
  }
}
.animation-left{
  animation: slideLeft 20s infinite;
  animation-duration: 0;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
  animation-play-state: running;
}
.animation-right{
  animation: slideRight 20s infinite;
  animation-duration: 0;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
  animation-play-state: running;
}
.visual-icon-box:hover .animation-right,
.visual-icon-box:hover .animation-left{
  animation-play-state: paused;
}
@keyframes slideLeft {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-50%);
  }
}
@keyframes slideRight {
  0%{
    transform: translateX(-50%);
  }
  100%{
    transform: translateX(0);
  }
}
/* e:visual icon */


/* s:product */
.product .h3-title{
  margin-bottom: 56px;
}
.product-content{
  margin: -20px -20px 0;
}
.product-list{
  display: grid;
}
.product-list .product-item{
  padding: 20px;
}
.product-item-inner{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  transition: all var(--trasnsition);
}
.product-item-inner:hover{
  background-color: var(--color-black);
}
.product-item-inner .product-item-text{
  height: 85px;
  padding: 25px;
  transition: color var(--trasnsition);
}
.product-item-inner:hover .product-item-text{
  color: var(--color-white);
}
.product-item-inner .product-item-text .h5-title{
  display: inline-block;
  position: relative;
}
.product-item-inner .product-item-text .h5-title::after{
  position: absolute;
  content: '';
  display: block;
  left: 0;
  bottom: -2px;
  height: 1px;
  width: 0;
  background-color: var(--color-white);
  transition: all var(--trasnsition);
}
.product-item-inner:hover .product-item-text .h5-title::after{
  width: 100%;
}
.product-item-inner .product-item-text .text-des{
  margin-top: 6px;
}
.product-item-inner .product-item-img{
  height: auto;
  margin-top: auto;
}
.product-item-inner .product-item-img img{
  vertical-align: bottom;
}
.product-item-inner .product-item-img .img-svg{
  object-fit: cover;
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(100deg) brightness(100%) contrast(100%);
  transition: all var(--trasnsition);
}
.product-item-inner:hover .product-item-img .img-svg{
  filter: invert(190%) sepia(0%) saturate(0%) hue-rotate(0) brightness(90%) contrast(100%);
}
.product-item-inner .product-item-img .img-photo{
  transition: all var(--trasnsition);
}
.product-item-inner:hover .product-item-img .img-photo{
  filter:grayscale();
}
  /* sub */
.product-list.sub .product-item{
  padding: 10px;
}
.product-list.sub .product-item-inner{
  background-color: var(--color-white-gray);
}
.product-list.sub .product-item-inner .product-item-img{
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
}
.product-list.sub .product-item-inner .product-item-img img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.product-list.sub .product-item-inner:hover .product-item-img .img-svg{
  filter: invert(50%) sepia(0%) saturate(0%) hue-rotate(0) brightness(90%) contrast(100%);
}
@media screen and (max-width: 769px) {
  .product-list{
    grid-template-columns: repeat(1, auto);
  }
  /* sub */
  .product-list.sub{
    padding: 10px;
    grid-template-columns: repeat(2, auto);
  }
}
@media screen and (min-width: 770px) {
  .product-list{
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
  .product .h3-title{
    margin-bottom: 98px;
  }
  .product-item-inner .product-item-text{
    height: 112px;
  }
  /* sub */
  .product-list.sub{
    grid-template-columns: repeat(5, auto);
  }
}
/* e:product */


/* s:post */
.post .h3-title{
  margin-bottom: 56px;
}
.post-content{
  margin: -20px -20px 0;
}
.post-list{
  display: flex;
  justify-content: flex-start;
}
.post-list .post-item .post-item-inner{
  display: block;
  padding: 20px;
}
.post-item-inner .post-item-img{
  opacity: 1;
  transition: all var(--trasnsition);
}
.post-item-inner:hover .post-item-img{
  opacity: .7;
}
.post-item-inner .post-item-text .h5-title{
  position: relative;
  display: inline-block;
  margin-top: 25px;
}
.post-item-inner .post-item-text .h5-title::after{
  position: absolute;
  content: '';
  display: block;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--color-black);
  transition: all var(--trasnsition);
}
.post-item-inner:hover .post-item-text .h5-title::after{
  width: 100%;
}
.post-item-inner .post-item-text .text-des{
  margin-top: 8px;
}
@media screen and (max-width: 769px) {
  .post-list{
    flex-direction: column;
  }
}
@media screen and (min-width: 770px) {
  .post-list .post-item{
    width: calc(100% / 3);
  }
}
/* e:post */


/* s:guide */
.guide-content{
  max-width: 1058px;
  margin: 0 auto;
}
.guide-list{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.guide-list .guide-item{
  border: 1px solid var(--color-border-gray);
}
.guide-list .guide-item .guide-item-inner{
  display: block;
  padding: 30px 20px;
  transition: var(--trasnsition);
}
.guide-list .guide-item .guide-item-inner:hover{
  background-color: var(--color-dark-gray);
}
.guide-item .item-icon{
  margin-bottom: 30px;
}
.guide-item .item-icon svg{
  width: 40px;
  height: 40px;
}
.guide-item .guide-item-innerr .item-icon svg path{
  fill: var(--color-black);
  transition: all var(--trasnsition);
}
.guide-item .guide-item-inner:hover .item-icon svg path{
  fill: var(--color-white);
}
.guide-item .h5-title{
  font-size: var(--font-xl);
  font-weight: 600;
  transition: all var(--trasnsition);
}
.guide-item .guide-item-inner:hover .h5-title{
  color: var(--color-light-gray);
}
.guide-item .item-text{
  margin-top: 30px;
  line-height: 150%;
  font-size: var(--font-l);
  transition: var(--trasnsition);
}
.guide-item .guide-item-inner:hover .item-text{
  font-weight: 200;
  color: var(--color-light-gray);
}
.guide-item .item-link{
  margin-top: 30px;
}
.guide-item .item-link .text-link{
  position: relative;
  padding: 2px 5px;
  color: var(--color-blue);
  z-index: 1;
  transition: color var(--trasnsition);
}
.guide-item .guide-item-inner:hover .text-link{
  color: var(--color-white);
}
.guide-item .item-link .text-link::after{
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: var(--color-blue);
  z-index: -1;
  transition: height var(--trasnsition);
  transition: all var(--trasnsition);
}
.guide-item .guide-item-inner:hover .text-link::after{
  background-color: var(--color-white);
}
@media screen and (min-width: 770px) {
  .guide-list{
    flex-direction: row;
    justify-content: center;
  }
  .guide-list .guide-item{
    width: calc(100% / 3);
    text-align: center;
  }
  .guide-list .guide-item .guide-item-inner{
    padding: 48px 32px;
  }
}
/* e:guide */


/* s:footer */
.footer .container-inner{
  padding: 50px 20px;
}
.social-list{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
.social-list .social-item{
  width: 34px;
  height: 34px;
  padding: 5px;
  border-radius: 50%;
  background-color: var(--color-dark-gray);
  transition: all var(--trasnsition);
}
.social-list .social-item:hover{
  background-color: rgba(216, 216, 223, .5);
}
.social-list .social-item svg path{
  fill: var(--color-light-gray);
}
.footer-right{
  text-align: center;
}
.footer-right a{
  color: var(--color-light-gray);
}
.footer-right a + a{
  margin-left: 10px;
}
@media screen and (max-width: 769px) {
  .footer-logo{
    text-align: center;
  }
  .footer-right{
    margin-top: 30px;
  }  
}
@media screen and (min-width: 770px) {
  .footer .container-inner{
    display: flex;
    justify-content: space-between;
    padding: 80px 20px 90px;
  }
}
/* e:footer */


/* s:modal */
.modal-product{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  overflow: hidden;
  z-index: 999;
  transition: all var(--trasnsition);
}
.modal-inner{
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  max-width: 900px;
  padding: 40px 20px;
  transform: translateX(-50%);
  background-color: var(--color-white);
  overflow: auto;
}
.btn-close-modal{
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  font-size: 30px;
  z-index: 10;
}
.img-box{
  display: flex;
  flex-direction: column;
}
.img-box .inner-img{
  max-width: 500px;
  margin: auto;
}
.img-box .color-picker{
  margin-top: auto;
  margin-bottom: 20px;
  text-align: center;
}
.img-box .color-picker .color-box{
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 3px solid var(--color-white);
  cursor: pointer;
}
.img-box .color-picker input[type='radio']:checked + label{
  border: 3px solid var(--color-border-gray);
}
.img-box .color-picker .color-box.black{
  background-color: #000;
}
.img-box .color-picker .color-box.pink{
  background-color: #FF59B9;
}
.img-box .color-picker .color-box.blue{
  background-color: #3B6BF9;
}
.img-box .color-picker .color-box.green{
  background-color: #007435;
}
.txt-desc{
  position: relative;
  display: flex;
  flex-direction: column;
}
.payment-list{
  margin: 30px 0;
}
.payment-item + .payment-item{
  margin-top: 10px;
}
.payment-item input[type='radio']{
  position: absolute;
}
.payment-item input[type='radio']:checked + label{
  border-color: var(--color-blue);
}
.payment-item label{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px 10px;
  border: 2px solid var(--color-border-gray);
  border-radius: 5px;
  cursor: pointer;
}
.payment-item label .payment-tit{
  font-size: var(--font-l);
  font-weight: 500;
  flex-grow: 1;
  flex-shrink: 0;
}
.payment-item label .payment-price{
  font-size: var(--font-l);
  font-weight: 500;
  flex-grow: 0; 
  flex-shrink: 1;
  text-align: right;
}
.payment-item label .payment-price .price-desc{
  margin-left: 5px;
  font-size: var(--font-xs);
  color: var(--color-dark-gray);
}
.payment-item label .payment-desc{
  flex-grow: 1;
  margin-top: 10px;
  color: var(--color-dark-gray);
}
.btn-download{
  margin-top: auto;
  width: 100%;
  font-size: var(--font-l);
  color: var(--color-white);
  background-color: var(--color-blue);
  line-height: 38px;
  border-radius: 5px;
  text-align: center;
}
@media screen and (min-width: 770px) {
  .modal-inner{
    height: auto;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .modal-content{
    display: flex;
    justify-content: space-between;
  }
  .modal-content > div{
    width: 48%;
  }
}
/* e:modal */


/* s:mobile menu */
.m-menu{
  position: fixed;
  left: 0;
  top: 0;
  height: 0;
  width: 0;
  z-index: 90;
  overflow: hidden;
}
.m-menu::before{
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  opacity: 0;
  transition: opacity var(--trasnsition);
}
.m-menu-inner{
  position: fixed;
  right: -30%;
  width: 30%;
  height: 100%;
  background-color: var(--color-white);
  overflow: auto;
  transition: right var(--trasnsition);
}
.m-menu-list{
  margin: 20px 0;
}
.m-menu-list .m-menu-item{
  padding: 20px;
}
.m-menu.active{
  height: 100%;
  width: 100%;
}
.m-menu.active::before{
  opacity: 1;
}
.m-menu.active .m-menu-inner{
  right: 0;
}
